<h1 mat-dialog-title>Monte Carlo Simulation</h1>
<div mat-dialog-content>
  <mat-chip-list class="spacer-button">
    <mat-chip>
      {{task.name}}
    </mat-chip>
    <mat-chip>
      Iterations: {{numberWithCommas(currentIterations)}}/{{numberWithCommas(task.iterations)}}
    </mat-chip>
    <mat-chip>
      Iterations per Task: {{numberWithCommas(iterationsPerWorker)}}
    </mat-chip>
  </mat-chip-list>
  <mat-chip-list>
    <mat-chip>
      Run Time {{msToTime(runTime)}}
    </mat-chip>
    <mat-chip>
      Total Compute Time {{msToTime(computeTime)}}
    </mat-chip>
    <mat-chip>
      Fastest Worker {{msToTime(minComputeTime)}}
    </mat-chip>
    <mat-chip>
      Average Worker {{msToTime(avgComputeTime)}}
    </mat-chip>
    <mat-chip>
      Slowest Worker {{msToTime(maxComputeTime)}}
    </mat-chip>
  </mat-chip-list>
  <div class="details-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="teamName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.teamName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ratioPromotion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Promotion </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ratioPromotion * 100 | number:'1.2-2'}} % </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalPromotions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Promotions </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{numberWithCommas(element.totalPromotions)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ratioRelegation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Relegation </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ratioRelegation * 100 | number:'1.2-2'}} % </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalRelegations">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Relegations </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{numberWithCommas(element.totalRelegations)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalMatchPoints">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Match Points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{numberWithCommas(element.totalPoints)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalGamePoints">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Game Points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{numberWithCommas(element.totalScore)}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</div>