.settings-container {
  height: 600px;
}
  
.settings-container > * {
  width: 100%;
}

.spacer-big {
  margin-bottom: 10px;
  margin-top: 10px;
} 

.spacer-button {
  margin-bottom: 5px;
  margin-top: 5px;
}

.concurrent-label{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
}